<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613197274486-j9o793pi9ue8pcnhqeeue3d1m4pp2t1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613197274486-j9o793pi9ue8pcnhqeeue3d1m4pp2t1c</string>
	<key>API_KEY</key>
	<string>AIzaSyCly78CarSI_RGHJVNDl7SMV6334E1nBzk</string>
	<key>GCM_SENDER_ID</key>
	<string>613197274486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stitchCraft</string>
	<key>PROJECT_ID</key>
	<string>stitch-craft-a34c6</string>
	<key>STORAGE_BUCKET</key>
	<string>stitch-craft-a34c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613197274486:ios:ba6c85d9199416bb77ae57</string>
</dict>
</plist>